body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}a,img{outline:none;border:none}

body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: 12px;
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;  
    padding: 0px 0 0px 0;
    margin: 0;
    height: 100%;
    color: #7d7d7b;
    background: #EFEFEF;
    cursor:normal;
}
header {
    padding: 25px 0 50px;
    position: relative;
    z-index: 2;
    width:355px;
}
h1 {
    font-size: 40px;    
    padding-left: 50px;
    color: #575757;
    font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
    line-height: 1px;
    font-style: bold;
}
h3 {
    color: #696969; 
    border-bottom: 1px solid #d4d4d4;
    padding-left: 50px;
    font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    font-size: 14px;
}
#logo {
    position: absolute;
    left:50%;
    margin-left:-95px;
    top:10px;
}
a {  
    color: #da9753; 
}
a:hover {
    color: #cb8139; 
}
section {
    width:800px;
    position:relative;
    left:50%;
    margin-left:-400px;
}
audio {
    width:800px;
    padding-bottom: 25px;
}
canvas {
    border-radius: 5px
}
#effects {
    height: 480px;
    background: #333;
    border-radius: 5px;
}
#tabs {
    width:100%;
    background: #333;
    margin-bottom: 25px;
    border-radius: 5px;
}
#interface {
    width: 100%;
    height: 200px;
    background: #333;
    border-radius: 5px;
}
.tab {
    display:inline-block;
    margin: 10px;
}
.tabAnchor {
    font-size:14px;
    cursor:pointer;
    color: #DDD;
}
.name {
    width:70px;
    height:30px;
    display:inline;
    float:left;
    padding:10px;
    padding-top:0px;
    text-align: center;
    color: #DDD;
    letter-spacing: 1px;
}
.name:first-child {
    margin-left:22px;
}
.activeTab {
    color:#da9753; 
}
.interface {
}
.selected {
}
